:host .alignment-item-container {
  line-height: 1;
  padding: 0.25rem;
  background-color: var(--color);
  padding-inline: calc(calc(var(--width) * 10px) + 0.5rem);
  padding-block: calc(calc(var(--height) * 10px) + 0.5rem);
  border-radius: 6px;
  outline: 4px solid var(--border-color);
  margin-top: 0.5rem;
}

:host {
  display: grid;
  align-items: center;
  gap: 0.25rem;
}

:host .alignment-item-container {
  border-radius: 6px;
}

:host .alignment-item-container:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  animation: hover 0.2s ease-in-out forwards;
}

:host :where(.pause) {
  border-radius: 0;
}

:host word {
  height: 100%;
  width: 100%;
  display: flex;
}

@keyframes hover {
  0% {
    box-shadow: 0 0 0 0px var(--color);
  }
  100% {
    box-shadow: 0 0 0 2px var(--color);
  }
}
